
<div id="{$_name}" style="color:#a5a5a5;height:200px;overflow-y:scroll; {$style} " class="{$Class}">
  <p>import csv file detail</p>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12"><span style="color:gray;">NAME -</span>- Name of the Plan and always unique</div>
    <div class="col-lg-4 col-md-4 col-sm-12"><span style="color:gray;">CODE - </span>unique code of plan and always unique</div>
    <div class="col-lg-4 col-md-4 col-sm-12"><span style="color:gray;">STAUS - </span>either Published or UnPublished</div>
  </div>
  <div style="margin-top:5px;" class="row">
    <div class="col-lg-4 col-md-4 col-sm-12"><span style="color:gray;">ORIGINAL PRICE -</span>- Name of the Plan and always unique</div>
    <div class="col-lg-4 col-md-4 col-sm-12"><span style="color:gray;">SALE PRICE - </span>unique code of plan and always unique</div>
    <div class="col-lg-4 col-md-4 col-sm-12"><span style="color:gray;">TAX - </span>either Published or UnPublished</div>
  </div>
  <div style="margin-top:5px;" class="row">
    <div class="col-lg-4 col-md-4 col-sm-12"><span style="color:gray;">PLAN VALIDITY VALUE -</span>- Name of the Plan and always unique</div>
    <div class="col-lg-4 col-md-4 col-sm-12"><span style="color:gray;">PLAN VALIDITY UNIT - </span>unique code of plan and always unique</div>
    <div class="col-lg-4 col-md-4 col-sm-12"><span style="color:gray;">DESCRIPTION - </span>either Published or UnPublished</div>
  </div>
  <div style="margin-top:5px;" class="row">
    <div class="col-lg-4 col-md-4 col-sm-12"><span style="color:gray;">RENEWABLE VALUE -</span>- Name of the Plan and always unique</div>
    <div class="col-lg-4 col-md-4 col-sm-12"><span style="color:gray;">RENEWABLE UNIT - </span>unique code of plan and always unique</div>
    <div class="col-lg-4 col-md-4 col-sm-12"><span style="color:gray;">IS AUTO RENEW - </span>either Published or UnPublished</div>
  </div>
  <div style="margin-top:5px;" class="row">
    <div class="col-lg-4 col-md-4 col-sm-12"><span style="color:gray;">AVAILABLE IN USER CONTROL PANEL -</span>- Name of the Plan and always unique</div>
    <div class="col-lg-4 col-md-4 col-sm-12"><span style="color:gray;">REMARK - </span>unique code of plan and always unique</div>
    <div class="col-lg-4 col-md-4 col-sm-12"><span style="color:gray;">DATA LIMIT - </span>either Published or UnPublished</div>
  </div>
  <div style="margin-top:5px;" class="row">
    <div class="col-lg-4 col-md-4 col-sm-12"><span style="color:gray;">DOWNLOAD LIMIT -</span>- Name of the Plan and always unique</div>
    <div class="col-lg-4 col-md-4 col-sm-12"><span style="color:gray;">UPLOAD LIMIT - </span>unique code of plan and always unique</div>
    <div class="col-lg-4 col-md-4 col-sm-12"><span style="color:gray;">FUP DOWNLOAD LIMIT - </span>either Published or UnPublished</div>
  </div>
  <div style="margin-top:5px;" class="row">
    <div class="col-lg-4 col-md-4 col-sm-12"><span style="color:gray;">FUP UPLOAD LIMIT -</span>- Name of the Plan and always unique</div>
    <div class="col-lg-4 col-md-4 col-sm-12"><span style="color:gray;">ACCOUNTING DOWNLOAD RATIO - </span>unique code of plan and always unique</div>
    <div class="col-lg-4 col-md-4 col-sm-12"><span style="color:gray;">ACCOUNTING UPLOAD RATIO - </span>either Published or UnPublished</div>
  </div>
  <div style="margin-top:5px;" class="row">
    <div class="col-lg-4 col-md-4 col-sm-12"><span style="color:gray;">IS DATA CARRY FORWARD-</span>- Name of the Plan and always unique</div>
    <div class="col-lg-4 col-md-4 col-sm-12"><span style="color:gray;">START TIME - </span>unique code of plan and always unique</div>
    <div class="col-lg-4 col-md-4 col-sm-12"><span style="color:gray;">END TIME - </span>either Published or UnPublished</div>
  </div>
  <div style="margin-top:5px;" class="row">
    <div class="col-lg-4 col-md-4 col-sm-12"><span style="color:gray;">IS DATA CARRY FORWARD-</span>- Name of the Plan and always unique</div>
    <div class="col-lg-4 col-md-4 col-sm-12"><span style="color:gray;">DAYS - </span>SUN TO SAT</div>
    <div class="col-lg-4 col-md-4 col-sm-12"><span style="color:gray;">DATE - </span>D01 TO D31</div>
  </div>
  <div style="margin-top:5px;" class="row">
    <div class="col-lg-4 col-md-4 col-sm-12"><span style="color:gray;">DATA RESET VALUE -</span>- Name of the Plan and always unique</div>
    <div class="col-lg-4 col-md-4 col-sm-12"><span style="color:gray;">DATA RESET MODE - </span>SUN TO SAT</div>
    <div class="col-lg-4 col-md-4 col-sm-12"><span style="color:gray;">TREAT FUP AS DL/UL FOR LAST ROW - </span>D01 TO D31</div>
  </div>
  <div style="margin-top:5px;" class="row">
    <div class="col-lg-4 col-md-4 col-sm-12"><span style="color:gray;">IS PRO DATA AFFECTED - </span></div>
  </div>{$Content}
</div>