
<div id="{$_name}" style="color:#a5a5a5;height:200px;overflow-y:scroll; {$style} " class="{$Class}">
  <p>import csv file detail</p>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12"><span style="color:gray;">NAME -</span>- Name of the Plan and always unique</div>
    <div class="col-lg-4 col-md-4 col-sm-12"><span style="color:gray;">CODE - </span>unique code of plan and always unique</div>
    <div class="col-lg-4 col-md-4 col-sm-12"><span style="color:gray;">STAUS - </span>either Published or UnPublished</div>
  </div>
  <div style="margin-top:5px;" class="row">
    <div class="col-lg-4 col-md-4 col-sm-12"><span style="color:gray;">ORIGINAL PRICE -</span>- Price of Plan</div>
    <div class="col-lg-4 col-md-4 col-sm-12"><span style="color:gray;">SALE PRICE - </span>After Discount Price of Plan</div>
    <div class="col-lg-4 col-md-4 col-sm-12"><span style="color:gray;">TAX - </span>Tax</div>
  </div>
  <div style="margin-top:5px;" class="row">
    <div class="col-lg-4 col-md-4 col-sm-12"><span style="color:gray;">PLAN VALIDITY VALUE -</span>- integer value like 1, 3</div>
    <div class="col-lg-4 col-md-4 col-sm-12"><span style="color:gray;">PLAN VALIDITY UNIT - </span>one of hours, days, weeks, months, years</div>
    <div class="col-lg-4 col-md-4 col-sm-12"><span style="color:gray;">DESCRIPTION - </span>Detail of plan</div>
  </div>
  <div style="margin-top:5px;" class="row">
    <div class="col-lg-4 col-md-4 col-sm-12"><span style="color:gray;">RENEWABLE VALUE -</span>- Renewable value</div>
    <div class="col-lg-4 col-md-4 col-sm-12"><span style="color:gray;">RENEWABLE UNIT - </span>Renewable unit - DAYS, WEEKS, MONTHS, YEARS</div>
    <div class="col-lg-4 col-md-4 col-sm-12"><span style="color:gray;">IS AUTO RENEW - </span>either 1 or 0</div>
  </div>
  <div style="margin-top:5px;" class="row">
    <div class="col-lg-4 col-md-4 col-sm-12"><span style="color:gray;">AVAILABLE IN USER CONTROL PANEL -</span>- set 1 if want to display for online customer</div>
    <div class="col-lg-4 col-md-4 col-sm-12"><span style="color:gray;">REMARK - </span>Plan Condition Remank ie. mainPlan, NightTopup etc.</div>
    <div class="col-lg-4 col-md-4 col-sm-12"><span style="color:gray;">DATA LIMIT - </span>ie. 50.00GB, 50.00MB etc</div>
  </div>
  <div style="margin-top:5px;" class="row">
    <div class="col-lg-4 col-md-4 col-sm-12"><span style="color:gray;">DOWNLOAD LIMIT -</span>- ie. 1.00MB, 8.00MB</div>
    <div class="col-lg-4 col-md-4 col-sm-12"><span style="color:gray;">UPLOAD LIMIT - </span>- ie. 1.00MB, 8.00MB</div>
    <div class="col-lg-4 col-md-4 col-sm-12"><span style="color:gray;">FUP DOWNLOAD LIMIT - </span>either Published or UnPublished</div>
  </div>
  <div style="margin-top:5px;" class="row">
    <div class="col-lg-4 col-md-4 col-sm-12"><span style="color:gray;">FUP UPLOAD LIMIT -</span>- ie. 1.00MB, 5.00MB</div>
    <div class="col-lg-4 col-md-4 col-sm-12"><span style="color:gray;">ACCOUNTING DOWNLOAD RATIO - </span>it's a percentage value like 50, 100, if data is free then empty</div>
    <div class="col-lg-4 col-md-4 col-sm-12"><span style="color:gray;">ACCOUNTING UPLOAD RATIO - </span>it's a percentage value like 50, 100, if data is free then empty</div>
  </div>
  <div style="margin-top:5px;" class="row">
    <div class="col-lg-4 col-md-4 col-sm-12"><span style="color:gray;">IS DATA CARRY FORWARD-</span>- select one form  none,once,allways</div>
    <div class="col-lg-4 col-md-4 col-sm-12"><span style="color:gray;">START TIME - </span>start time of plan in 24 hours format. ie. 20:00:00 (hour:minute:second), used when plan has time specific condition</div>
    <div class="col-lg-4 col-md-4 col-sm-12"><span style="color:gray;">END TIME - </span>start time of plan in 24 hours format. ie. 24:00:00 (hour:minute:second), used when plan has time specific condition</div>
  </div>
  <div style="margin-top:5px;" class="row">
    <div class="col-lg-4 col-md-4 col-sm-12"><span style="color:gray;">DAYS - </span>SUN TO SAT</div>
    <div class="col-lg-4 col-md-4 col-sm-12"><span style="color:gray;">DATE - </span>D01 TO D31</div>
    <div class="col-lg-4 col-md-4 col-sm-12"><span style="color:gray;">IS PRO DATA AFFECTED - </span>either 0 or 1 used for invoice amount calculation</div>
  </div>
  <div style="margin-top:5px;" class="row">
    <div class="col-lg-4 col-md-4 col-sm-12"><span style="color:gray;">DATA RESET VALUE -</span>- reset the value(data limit, fup, speed etc.) of plan</div>
    <div class="col-lg-4 col-md-4 col-sm-12"><span style="color:gray;">DATA RESET MODE - </span>hours, days, months, years</div>
    <div class="col-lg-4 col-md-4 col-sm-12"><span style="color:gray;">TREAT FUP AS DL/UL FOR LAST ROW - </span>either 1 or 0</div>
  </div>
  <div style="margin-top:5px;" class="row">
    <div class="col-lg-4 col-md-4 col-sm-12"><span style="color:gray;">Burst DL/UL Limit </span>limit in kb mb or gb etc . 100KB, 2MB </div>
    <div class="col-lg-4 col-md-4 col-sm-12"><span style="color:gray;">Burst Threshold Dl/UL Limit</span>limit in kb mb or gb etc . 100KB, 2MB</div>
    <div class="col-lg-4 col-md-4 col-sm-12"><span style="color:gray;">Burst Dl/Ul Time:</span>time in 24 hours format hour:minute:second</div>
    <div class="col-lg-4 col-md-4 col-sm-12"><span style="color:gray;">Priority</span>set priority of burst time</div>
  </div>{$Content}
</div>