div(id="{$_name}" class="{$Class}" style="color:#a5a5a5;height:200px;overflow-y:scroll; {$style} ")
	p import csv file detail
	.row
		.col-lg-4.col-md-4.col-sm-12
			span(style="color:gray;") NAME -
			|- Name of the Plan and always unique
		.col-lg-4.col-md-4.col-sm-12
			span(style="color:gray;") CODE - 
			| unique code of plan and always unique
		.col-lg-4.col-md-4.col-sm-12
			span(style="color:gray;") STAUS - 
			| either Published or UnPublished
	.row(style="margin-top:5px;")
		.col-lg-4.col-md-4.col-sm-12
			span(style="color:gray;") ORIGINAL PRICE -
			|- Name of the Plan and always unique
		.col-lg-4.col-md-4.col-sm-12
			span(style="color:gray;") SALE PRICE - 
			| unique code of plan and always unique
		.col-lg-4.col-md-4.col-sm-12
			span(style="color:gray;") TAX - 
			| either Published or UnPublished
	.row(style="margin-top:5px;")
		.col-lg-4.col-md-4.col-sm-12
			span(style="color:gray;") PLAN VALIDITY VALUE -
			|- Name of the Plan and always unique
		.col-lg-4.col-md-4.col-sm-12
			span(style="color:gray;") PLAN VALIDITY UNIT - 
			| unique code of plan and always unique
		.col-lg-4.col-md-4.col-sm-12
			span(style="color:gray;") DESCRIPTION - 
			| either Published or UnPublished
	.row(style="margin-top:5px;")
		.col-lg-4.col-md-4.col-sm-12
			span(style="color:gray;") RENEWABLE VALUE -
			|- Name of the Plan and always unique
		.col-lg-4.col-md-4.col-sm-12
			span(style="color:gray;") RENEWABLE UNIT - 
			| unique code of plan and always unique
		.col-lg-4.col-md-4.col-sm-12
			span(style="color:gray;") IS AUTO RENEW - 
			| either Published or UnPublished
	.row(style="margin-top:5px;")
		.col-lg-4.col-md-4.col-sm-12
			span(style="color:gray;") AVAILABLE IN USER CONTROL PANEL -
			|- Name of the Plan and always unique
		.col-lg-4.col-md-4.col-sm-12
			span(style="color:gray;") REMARK - 
			| unique code of plan and always unique
		.col-lg-4.col-md-4.col-sm-12
			span(style="color:gray;") DATA LIMIT - 
			| either Published or UnPublished
	.row(style="margin-top:5px;")
		.col-lg-4.col-md-4.col-sm-12
			span(style="color:gray;") DOWNLOAD LIMIT -
			|- Name of the Plan and always unique
		.col-lg-4.col-md-4.col-sm-12
			span(style="color:gray;") UPLOAD LIMIT - 
			| unique code of plan and always unique
		.col-lg-4.col-md-4.col-sm-12
			span(style="color:gray;") FUP DOWNLOAD LIMIT - 
			| either Published or UnPublished
	.row(style="margin-top:5px;")
		.col-lg-4.col-md-4.col-sm-12
			span(style="color:gray;") FUP UPLOAD LIMIT -
			|- Name of the Plan and always unique
		.col-lg-4.col-md-4.col-sm-12
			span(style="color:gray;") ACCOUNTING DOWNLOAD RATIO - 
			| unique code of plan and always unique
		.col-lg-4.col-md-4.col-sm-12
			span(style="color:gray;") ACCOUNTING UPLOAD RATIO - 
			| either Published or UnPublished
	.row(style="margin-top:5px;")
		.col-lg-4.col-md-4.col-sm-12
			span(style="color:gray;") IS DATA CARRY FORWARD-
			|- Name of the Plan and always unique
		.col-lg-4.col-md-4.col-sm-12
			span(style="color:gray;") START TIME - 
			| unique code of plan and always unique
		.col-lg-4.col-md-4.col-sm-12
			span(style="color:gray;") END TIME - 
			| either Published or UnPublished
	.row(style="margin-top:5px;")
		.col-lg-4.col-md-4.col-sm-12
			span(style="color:gray;") IS DATA CARRY FORWARD-
			|- Name of the Plan and always unique
		.col-lg-4.col-md-4.col-sm-12
			span(style="color:gray;") DAYS - 
			| SUN TO SAT
		.col-lg-4.col-md-4.col-sm-12
			span(style="color:gray;") DATE - 
			| D01 TO D31
	.row(style="margin-top:5px;")
		.col-lg-4.col-md-4.col-sm-12
			span(style="color:gray;") DATA RESET VALUE -
			|- Name of the Plan and always unique
		.col-lg-4.col-md-4.col-sm-12
			span(style="color:gray;") DATA RESET MODE - 
			| SUN TO SAT
		.col-lg-4.col-md-4.col-sm-12
			span(style="color:gray;") TREAT FUP AS DL/UL FOR LAST ROW - 
			| D01 TO D31
	.row(style="margin-top:5px;")
		.col-lg-4.col-md-4.col-sm-12
			span(style="color:gray;") IS PRO DATA AFFECTED - 
	{$Content}