
<div id="{$_name}" style="{$style}" class="isp-staff-navbar {$class}">
  <link href="shared/apps/xavoc/ispmanager/templates/css/mdb.css" rel="stylesheet"/>
  <nav class="navbar light-green">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="staff_dashboard" style="color:white;font-weight:700" class="navbar-brand">ISP Manager</a>
      </div>
      <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">{rows}{row}
          <li data-page="{$key}" class="nav-item {$active_menu}">
            {list} {$name} {/}
            {$submenu}
          </li>{/}{/}
        </ul>
        <ul style="margin-top:5px" class="navbar-nav ml-auto nav-flex-icons pull-right">
          <li class="nav-item avatar dropdown"><a id="navbarDropdownMenuLink" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" class="nav-link dropdown-toggle waves-effect waves-light"><img src="{staff_dp}shared/apps/xavoc/ispmanager/templates/img/profile.png{/}" class="img-fluid img-circle z-depth-2"/></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>{$Content}
</div>