.isp-staff-navbar(id='{$_name}', style='{$style}', class='{$class}')
  link(href="shared/apps/xavoc/ispmanager/templates/css/mdb.css" rel="stylesheet")
  //- link(href="shared/apps/xavoc/ispmanager/templates/css/style.css" rel="stylesheet")
  nav.navbar.light-green
    .container-fluid
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='staff_dashboard' style="color:white;font-weight:700")
          |ISP Manager
          //- img(src='shared/apps/xavoc/ispmanager/templates/img/logo.png')
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav
          {rows}{row}
          li.nav-item(data-page='{$key}' class="{$active_menu}")
            {list} {$name} {/}
            |{$submenu}
          {/}{/}
          
        ul.navbar-nav.ml-auto.nav-flex-icons.pull-right(style="margin-top:5px")
          li.nav-item.avatar.dropdown
            a#navbarDropdownMenuLink.nav-link.dropdown-toggle.waves-effect.waves-light(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
              img.img-fluid.img-circle.z-depth-2(src='{staff_dp}shared/apps/xavoc/ispmanager/templates/img/profile.png{/}')
            //- ul.dropdown-menu.dropdown-warning.dropdown-menu-right(aria-labelledby='navbarDropdownMenuLink', data-dropdown-in='fadeIn', data-dropdown-out='fadeOut')
              //- li(class="{$staff_lead_active}")
              //-   a.dropdown-item.waves-effect.waves-light(href='staff_lead')
              //-     i.fa.fa-users
              //-     span.text-right|My Lead 
              //- li(class="{$staff_setting_active}")
              //-   a.dropdown-item.waves-effect.waves-light(href='staff_setting')
              //-     i.fa.fa-gear
              //-     span|Setting
              //- li
              //-   a.dropdown-item.waves-effect.waves-light(href='?page=logout')
              //-     i.fa.fa-sign-out
              //-     span|Logout
  | {$Content}