
<div id="{$_name}" style="{$style}" class="{$class} isp-staff-navbar">
  <link href="shared/apps/xavoc/ispmanager/templates/css/mdb.css" rel="stylesheet"/>
  <nav class="navbar light-green">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="?page=index" style="color:white;font-weight:700" class="navbar-brand"><span>ISP Manger</span></a>
      </div>
      <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="nav-item {$active_menu} {$user_dashboard_active}"><a href="user_dashboard" class="nav-link waves-effect waves-light"><i class="fa fa-dashboard"></i> Dashboard </a></li>
          <li class="nav-item {$active_menu} {$user_invoice_active}"><a href="user_invoice" class="nav-link waves-effect waves-light"><i class="fa fa-money"></i> Invoice </a></li>
          <li class="nav-item {$active_menu} {$user_notification_active}"><a href="user_notification" class="nav-link waves-effect waves-light"><i class="fa fa-bell"></i> Notification </a></li>
          <li class="nav-item {$user_setting_active}"><a href="user_setting" class="nav-link waves-effect waves-light"><i class="fa fa-cog"></i> Setting</a></li>
          <li style="background-color:#cc0000;" class="nav-item bg bg-danger"><a href="index.php?logout=true" class="nav-link waves-effect waves-light ispmanager-user-logout-btn"><i class="fa fa-sign-out"></i> Logout</a></li>
        </ul>
        <ul style="margin-top:5px" class="navbar-nav ml-auto nav-flex-icons pull-right">
          <li>
            <p style="color:white;margin-top:10px;margin-right:10px;">{$user_name}</p>
          </li>
          <li class="nav-item avatar dropdown">
              <a id="navbarDropdownMenuLink" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" class="nav-link dropdown-toggle waves-effect waves-light">
                <img src="{user_dp}shared/apps/xavoc/ispmanager/templates/img/profile.png{/}" class="img-fluid img-circle z-depth-2"/>
              </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>{$Content}
</div>
<style>
  .navbar-toggle {
  	align-self: flex-start;
  	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  	border: 1px solid transparent;
  	border-radius: 0.25rem;
  	font-size: 1.25rem;
  	line-height: 1;
  }	
  .navbar-toggle {
  	border-color: rgba(0, 0, 0, 0.1);
  }
  .icon-bar {
  	border: 1px solid #ddd;
  }
</style>