.container(id="{$_name}" class="{$class}" style="{$style}")
	div.well
			.container(id="{$_name}")
				.row
					.col-md-2.atk-form-field.atk-form-row
					.col-md-6.atk-form-field.atk-form-row
						.row
							.col-md-12.atk-form-field.atk-form-row
								label Current Password:
								{$radius_password}
						.row
							.col-md-12.atk-form-field.atk-form-row
								label New Password:
								{$radius_password}
						.row
							.col-md-12.atk-form-field.atk-form-row
								label Retype New Password:
								{$retype_password}
						.row
							.col-md-12.atk-form-field.atk-form-row
								a(href="{$registration_url}") Forgot Password?
					.col-md-2.atk-form-field.atk-form-row
				
			{$Content}

//-   .modal-header
//-     h3
//-       | Change Password 
//-       span.extra-title.muted
//-   .modal-body.form-horizontal
//-     .control-group
//-       label.control-label(for='current_password') Current Password
//-       .controls
//-         input(name='current_password', type='password')
//-     .control-group
//-       label.control-label(for='new_password') New Password
//-       .controls
//-         input(name='new_password', type='password')
//-     .control-group
//-       label.control-label(for='confirm_password') Confirm Password
//-       .controls
//-         input(name='confirm_password', type='password')
//-   .modal-footer
//-     button.btn(href='#', data-dismiss='modal', aria-hidden='true') Close
//-     button#password_modal_save.btn.btn-primary(href='#') Save changes

//- style.
//- 	.modal-header{
//- 		border-bottom: 1px solid #eee;
//- 		padding: 9px 15px;
//- 	}

//- 	.modal-header body.extra-title{
//- 		color: #333333;
//- 		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
//- 		font-size: 14px;
//- 		line-height: 20px;
//- 	}
	
