form.form-horizontal
	fieldset
		// Form Name
		legend Change Password
		//User Name
		.form-group
			.row
				label.col-md-4.control-label.text-right(for='CurrentPass') User Name:
				.col-md-4
					{$user_name}
					//- input
		// Password input
		.form-group
			.row
				label.col-md-4.control-label.text-right(for='CurrentPass') Current Password:
				.col-md-4
					{$old_password}
					//- input#piCurrPass.form-control.input-md(name='CurrentPass', type='password', placeholder='', required='')
		// Password input
		.form-group
			.row
				label.col-md-4.control-label.text-right(for='NewPass') New Password:
				.col-md-4
					{$new_password}
					//- input#piNewPass.form-control.input-md(name='NewPass', type='password', placeholder='', required='')
		// Password input
		.form-group
			.row
				label.col-md-4.control-label.text-right(for='NewPassRepeat') Confirm Password:
				.col-md-4
					{$retype_password}
					//- input#piNewPassRepeat.form-control.input-md(name='NewPassRepeat', type='password', placeholder='', required='')
		// Button (Double)
		.form-group
			.row
				label.col-md-4.control-label(for='Cancel')
				.col-md-8
					//- button#bCancel.btn.btn-danger(name='Cancel') Cancel
					//- button#bGodkend.btn.btn-success(name='Godkend') Save Changes
					{$FormButtons}
{$Content}

style.
	.control-label button, input, select, textarea {
		padding: 4px 12px;
		width: 100%;
	}
	
