
<form class="form-horizontal">
  <fieldset>
    <!-- Form Name-->
    <legend>Change Password</legend>
    <!--User Name-->
    <div class="form-group">
      <div class="row">
        <label for="CurrentPass" class="col-md-4 control-label text-right">User Name:</label>
        <div class="col-md-4">{$user_name}
        </div>
      </div>
    </div>
    <!-- Password input-->
    <div class="form-group">
      <div class="row">
        <label for="CurrentPass" class="col-md-4 control-label text-right">Current Password:</label>
        <div class="col-md-4">{$old_password}
        </div>
      </div>
    </div>
    <!-- Password input-->
    <div class="form-group">
      <div class="row">
        <label for="NewPass" class="col-md-4 control-label text-right">New Password:</label>
        <div class="col-md-4">{$new_password}
        </div>
      </div>
    </div>
    <!-- Password input-->
    <div class="form-group">
      <div class="row">
        <label for="NewPassRepeat" class="col-md-4 control-label text-right">Confirm Password:</label>
        <div class="col-md-4">{$retype_password}
        </div>
      </div>
    </div>
    <!-- Button (Double)-->
    <div class="form-group">
      <div class="row">
        <label for="Cancel" class="col-md-4 control-label"></label>
        <div class="col-md-8">{$FormButtons}
        </div>
      </div>
    </div>
  </fieldset>
</form>{$Content}
<style>
  .control-label button, input, select, textarea {
  	padding: 4px 12px;
  	width: 100%;
  }
</style>