
<div id="{$_name}" style="{$style}" class="{$class}">
  <label class="h4">User Plans </label>
  <div class="well well-sm">
    <div class="row">
      <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 atk-form-field atk-form-row">
        <label>Plan:</label>{$plan}
      </div>
      <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 atk-form-field atk-form-row">
        <label>Create Invoice:</label>{$create_invoice}
      </div>
    </div>
    <div class="row">{$FormButtons}</div>
  </div>
</div>{$Content}