.container(id="{$_name}" class="{$class}" style="{$style}")
	div.well
			.container(id="{$_name}")
				.row
					.col-md-2.atk-form-field.atk-form-row
					.col-md-6.atk-form-field.atk-form-row
						.row
							.col-md-12.atk-form-field.atk-form-row
								label Current Password:
								{$radius_password}
						.row
							.col-md-12.atk-form-field.atk-form-row
								label New Password:
								{$radius_password}
						.row
							.col-md-12.atk-form-field.atk-form-row
								label Retype New Password:
								{$retype_password}
						.row
							.col-md-12.atk-form-field.atk-form-row
								a(href="{$registration_url}") Forgot Password?
					.col-md-2.atk-form-field.atk-form-row
				
			{$Content}