
<div id="{$_name}" style="{$style}" class="container {$class}">
  <div class="well">
    <div id="{$_name}" class="container">
      <div class="row">
        <div class="col-md-2 atk-form-field atk-form-row"></div>
        <div class="col-md-6 atk-form-field atk-form-row">
          <div class="row">
            <div class="col-md-12 atk-form-field atk-form-row">
              <label>Current Password:</label>{$radius_password}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 atk-form-field atk-form-row">
              <label>New Password:</label>{$radius_password}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 atk-form-field atk-form-row">
              <label>Retype New Password:</label>{$retype_password}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 atk-form-field atk-form-row"><a href="{$registration_url}">Forgot Password?</a></div>
          </div>
        </div>
        <div class="col-md-2 atk-form-field atk-form-row"></div>
      </div>
    </div>{$Content}
  </div>
</div>