
<div class="well">
  <div class="row">
    <div class="col-md-6 atk-form-field atk-form-row">
      <label>Remark:</label>{$remark}
    </div>
    <div class="col-md-6 atk-form-field atk-form-row">
      <label>Data Limit:</label>{$data_limit}
      <div class="p">Data Limit in Human Readable Format 20gb, 1tb, 500mb</div>
    </div>
  </div>
</div>
<div class="well">
  <div class="row">
    <div class="col-md-3 atk-form-field atk-form-row">
      <label>Download Limit:</label>{$download_limit}
      <div class="p">Limit in KBPS</div>
    </div>
    <div class="col-md-3 atk-form-field atk-form-row">
      <label>Upload Limit:</label>{$upload_limit}
      <div class="p">Limit in KBPS</div>
    </div>
    <div class="col-md-3 atk-form-field atk-form-row">
      <label>Fup Download Limit:</label>{$fup_download_limit}
      <div class="p">Limit in KBPS</div>
    </div>
    <div class="col-md-3 atk-form-field atk-form-row">
      <label>Fup Upload Limit:</label>{$fup_upload_limit}
      <div class="p">Limit in KBPS</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 atk-form-field atk-form-row">
      <label>Accounting Download Limit:</label>{$accounting_download_ratio}
      <div class="p">ratio in %</div>
    </div>
    <div class="col-md-6 atk-form-field atk-form-row">
      <label>Accounting Upload Limit:</label>{$accounting_upload_ratio}
      <div class="p">ratio in %</div>
    </div>
  </div>
</div>
<div class="well">
  <div class="row">
    <div class="col-md-12">{$is_data_carry_forward}</div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label>Start Time</label>{$start_time}
    </div>
    <div class="col-md-6">
      <label>End Time</label>{$end_time}
    </div>
  </div>
</div>
<div class="well">
  <table style="width:100%;">
    <tr>
      <td>{$sun}</td>
      <td>{$mon}</td>
      <td>{$tue}</td>
      <td>{$wed}</td>
      <td>{$thu}</td>
      <td>{$fri}</td>
      <td>{$sat}</td>
    </tr>
    <tr>
      <td>{$d01}</td>
      <td>{$d02}</td>
      <td>{$d03}</td>
      <td>{$d04}</td>
      <td>{$d05}</td>
      <td>{$d06}</td>
      <td>{$d07}</td>
    </tr>
    <tr>
      <td>{$d08}</td>
      <td>{$d09}</td>
      <td>{$d10}</td>
      <td>{$d11}</td>
      <td>{$d12}</td>
      <td>{$d13}</td>
      <td>{$d14}</td>
    </tr>
    <tr>
      <td>{$d15}</td>
      <td>{$d16}</td>
      <td>{$d17}</td>
      <td>{$d18}</td>
      <td>{$d19}</td>
      <td>{$d20}</td>
      <td>{$d21}</td>
    </tr>
    <tr>
      <td>{$d22}</td>
      <td>{$d23}</td>
      <td>{$d24}</td>
      <td>{$d25}</td>
      <td>{$d26}</td>
      <td>{$d27}</td>
      <td>{$d28}</td>
    </tr>
    <tr>
      <td>{$d29}</td>
      <td>{$d30}</td>
      <td>{$d31}</td>
    </tr>
  </table>
</div>
<div class="well">
  <div class="row">
    <div class="col-md-6 atk-form-field atk-form-row">
      <label>Data Reset Value:</label>{$data_reset_value}
    </div>
    <div class="col-md-6 atk-form-field atk-form-row">
      <label>Data Reset Mode:</label>{$data_reset_mode}
    </div>
  </div>
</div>{$Content}