.container(id="{$_name}" class="{$class}" style="{$style}")
	div.well
		.container(id="{$_name}")
				.row
					.col-md-4.atk-form-field.atk-form-row
					.col-md-4.atk-form-field.atk-form-row
						label.h2 My Account Settings
					.col-md-4.atk-form-field.atk-form-row
					
			{$Content}