
<div>
  <div class="row">
    <div class="col-md-6 atk-form-field atk-form-row">
      <label>Name:</label>{$name}
    </div>
    <div class="col-md-6 atk-form-field atk-form-row">
      <label>Code:</label>{$sku}
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 atk-form-field atk-form-row">
      <label>Original Price:</label>{$original_price}
    </div>
    <div class="col-md-3 atk-form-field atk-form-row">
      <label>Sale Price:</label>{$sale_price}
    </div>
    <div class="col-md-3 atk-form-field atk-form-row">
      <label>Tax:</label>{$tax_id}
    </div>
    <div class="col-md-3 atk-form-field atk-form-row">
      <label>Qty Unit:</label>{$qty_unit_id}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <label>Description:</label>{$description}
    </div>
  </div>
</div>{$Content}