div
	.row
		.col-md-2
			label Plan validity Value:
			{$plan_validity_value}
		.col-md-2
			label Qty Unit:
			{$qty_unit_id}
		.col-md-4.atk-form-field.atk-form-row
			label Name:
			{$name}
		.col-md-4.atk-form-field.atk-form-row
			label Code:
			{$sku}
	.row
		.col-md-4.atk-form-field.atk-form-row
			label Original Price:
			{$original_price}
		.col-md-4.atk-form-field.atk-form-row
			label Sale Price:
			{$sale_price}
		.col-md-4.atk-form-field.atk-form-row
			label Tax:
			{$tax_id}
	.row
		.col-md-12
			label Description:
			{$description}
{$Content}