div
	.row
		.col-md-4
			label Qty Unit:
			{$qty_unit_id}
		.col-md-4
			label Name:
			{$name}
		.col-md-4
			label Code:
			{$sku}
	.row
		.col-md-4
			label Original Price:
			{$original_price}
		.col-md-4
			label Sale Price:
			{$sale_price}
		.col-md-4
			label Tax:
			{$tax_id}
	.row
		.col-md-12
			label Description:
			{$description}
{$Content}