div.well
	label.h4 User Plans
	.row
		.col-md-4.atk-form-field.atk-form-row
			label Plan:
			{$plan_id}
		.col-md-4.atk-form-field.atk-form-row
			label User Name:
			{$radius_username}
		.col-md-4.atk-form-field.atk-form-row
			label Password:
			{$radius_password}
	.row
		.col-md-6.atk-form-field.atk-form-row
			label Simultaneous Use:
			{$simultaneous_use}
		.col-md-6.atk-form-field.atk-form-row
			label Grace period in days:
			{$grace_period_in_days}
	.row
		.col-md-12.atk-form-field.atk-form-row
			label Custom RADIUS Attributes: 
			{$custom_radius_attributes}
div.well
	label.h4 Basic Info
	.row
		.col-md-4.atk-form-field.atk-form-row
			label First Name:
			{$first_name}
		.col-md-4.atk-form-field.atk-form-row
			label Last Name:
			{$last_name}
		.col-md-4.atk-form-field.atk-form-row
			label Country:
			{$country_id}
	.row
		.col-md-4.atk-form-field.atk-form-row
			label State:
			{$state_id}
		.col-md-4.atk-form-field.atk-form-row
			label City:
			{$city}
		.col-md-4.atk-form-field.atk-form-row
			label Pin Code:
			{$pin_code}
	.row
		.col-md-12.atk-form-field.atk-form-row
			label Address:
			{$address}
{$Content}