
<div id="{$_name}" style="{$style}" class="container {$class}">
  <div class="well">
    <label class="h4">Personal Info
      <div id="{$_name}" class="container">
        <div class="row">
          <div class="col-md-6 atk-form-field atk-form-row">
            <label>First Name:</label>
          </div>
          <div class="col-md-6 atk-form-field atk-form-row">
            <label>Last Name:</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 atk-form-field atk-form-row">{$first_name}</div>
          <div class="col-md-6 atk-form-field atk-form-row">{$last_name}</div>
        </div>
        <div class="row">
          <div class="col-md-6 atk-form-field atk-form-row">
            <label>Date Of Birth:</label>
          </div>
          <div class="col-md-6 atk-form-field atk-form-row">
            <label>Address:</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 atk-form-field atk-form-row">{$dob}</div>
          <div class="col-md-6 atk-form-field atk-form-row">{$address}</div>
        </div>
        <div class="row">
          <div class="col-md-6 atk-form-field atk-form-row">
            <label>Contact No:</label>
          </div>
          <div class="col-md-6 atk-form-field atk-form-row">
            <label>Email ID:</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 atk-form-field atk-form-row">{$contact}</div>
          <div class="col-md-6 atk-form-field atk-form-row">{$email_id}</div>
        </div>
        <div class="row">
          <div class="col-md-6 atk-form-field atk-form-row">
            <label>Country:</label>
          </div>
          <div class="col-md-6 atk-form-field atk-form-row">
            <label>State:</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 atk-form-field atk-form-row">{$country_id}</div>
          <div class="col-md-6 atk-form-field atk-form-row">{$state_id}</div>
        </div>
        <div class="row">
          <div class="col-md-6 atk-form-field atk-form-row">
            <label>City:</label>
          </div>
          <div class="col-md-6 atk-form-field atk-form-row">
            <label>Pin Code:</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 atk-form-field atk-form-row">{$city}</div>
          <div class="col-md-6 atk-form-field atk-form-row">{$pin_code}</div>
        </div>
      </div>{$Content}
    </label>
  </div>
</div>