.container(id="{$_name}" class="{$class}" style="{$style}")
	div.well
		label.h4 Personal Info
			.container(id="{$_name}")
				.row
					.col-md-6.atk-form-field.atk-form-row
						label First Name:
					.col-md-6.atk-form-field.atk-form-row
						label Last Name:
				.row
					.col-md-6.atk-form-field.atk-form-row
						{$first_name}
					.col-md-6.atk-form-field.atk-form-row
						{$last_name}
				.row
					.col-md-6.atk-form-field.atk-form-row
						label Date Of Birth:
					.col-md-6.atk-form-field.atk-form-row
						label Address:
				.row
					.col-md-6.atk-form-field.atk-form-row
						{$dob}
					.col-md-6.atk-form-field.atk-form-row
						{$address}
				.row
					.col-md-6.atk-form-field.atk-form-row
						label Contact No:
					.col-md-6.atk-form-field.atk-form-row
						label Email ID:
				.row
					.col-md-6.atk-form-field.atk-form-row
						{$contact}
					.col-md-6.atk-form-field.atk-form-row
						{$email_id}
				.row
					.col-md-6.atk-form-field.atk-form-row
						label Country:
					.col-md-6.atk-form-field.atk-form-row
						label State:
				.row
					.col-md-6.atk-form-field.atk-form-row
						{$country_id}
					.col-md-6.atk-form-field.atk-form-row
						{$state_id}
				.row
					.col-md-6.atk-form-field.atk-form-row
						label City:
					.col-md-6.atk-form-field.atk-form-row
						label Pin Code:
				.row
					.col-md-6.atk-form-field.atk-form-row
						{$city}
					.col-md-6.atk-form-field.atk-form-row
						{$pin_code}
			{$Content}