
<div class="well">
  <label class="h4">User Plans</label>
  <div class="row">
    <div class="col-md-4">
      <label>Plan:</label>{$plan_id}
    </div>
    <div class="col-md-4">
      <label>User Name:</label>{$radius_username}
    </div>
    <div class="col-md-4">
      <label>Password:</label>{$radius_password}
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label>Simultaneous Use:</label>{$simultaneous_use}
    </div>
    <div class="col-md-6">
      <label>Grace period in days:</label>{$grace_period_in_days}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <label>Custom RADIUS Attributes: </label>{$custom_radius_attributes}
    </div>
  </div>
</div>
<div class="well">
  <label class="h4">Basic Info</label>
  <div class="row">
    <div class="col-md-4">
      <label>First Name:</label>{$first_name}
    </div>
    <div class="col-md-4">
      <label>Last Name:</label>{$last_name}
    </div>
    <div class="col-md-4">
      <label>Country:</label>{$country_id}
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <label>State:</label>{$state_id}
    </div>
    <div class="col-md-4">
      <label>City:</label>{$city}
    </div>
    <div class="col-md-4">
      <label>Pin Code:</label>{$pin_code}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <label>Address:</label>{$address}
    </div>
  </div>
</div>{$Content}