.container(id="{$_name}")
	.container(id="{$_name}" class="{$class}" style="{$style}")
			div.well
				label.h4 User Plans
				.container(id="{$_name}")
					.row
						.col-md-6.atk-form-field.atk-form-row
							label Plan:
						.col-md-6.atk-form-field.atk-form-row
							label User Name:
					.row
						.col-md-6.atk-form-field.atk-form-row
							{$radius_username}
						.col-md-6.atk-form-field.atk-form-row
							{$plan}{$plan_id}
					.row
						.col-md-6.atk-form-field.atk-form-row
							label Password:
						.col-md-6.atk-form-field.atk-form-row
							label Simultaneous Use:
					.row
						.col-md-6.atk-form-field.atk-form-row
							{$radius_password}
						.col-md-6.atk-form-field.atk-form-row
							{$simultaneous_use}
					.row
						.col-md-6.atk-form-field.atk-form-row
							label Grace period in days:
						.col-md-6.atk-form-field.atk-form-row
							label Mac Address:
					.row
						.col-md-6.atk-form-field.atk-form-row
							{$grace_period_in_days}
						.col-md-6.atk-form-field.atk-form-row
							{$mac_address}
					.row
						.col-md-12.atk-form-field.atk-form-row
							label Custom RADIUS Attributes: 
					.row
						.col-md-6.atk-form-field.atk-form-row
							{$custom_radius_attributes}
			div.well
				label.h4 Basic Info
				.container(id="{$_name}")
					.row
						.col-md-6.atk-form-field.atk-form-row
							label First Name:
						.col-md-6.atk-form-field.atk-form-row
							label Last Name:
					.row
						.col-md-6.atk-form-field.atk-form-row
							{$first_name}
						.col-md-6.atk-form-field.atk-form-row
							{$last_name}
					.row
						.col-md-6.atk-form-field.atk-form-row
							label Country:
						.col-md-6.atk-form-field.atk-form-row
							label State:
					.row
						.col-md-6.atk-form-field.atk-form-row
							{$country_id}
						.col-md-6.atk-form-field.atk-form-row
							{$state_id}
					.row
						.col-md-6.atk-form-field.atk-form-row
							label City:
						.col-md-6.atk-form-field.atk-form-row
							label Pin Code:
					.row
						.col-md-6.atk-form-field.atk-form-row
							{$city}
						.col-md-6.atk-form-field.atk-form-row
							{$pin_code}
					.row
						.col-md-12.atk-form-field.atk-form-row
							label Address:
					.row
						.col-md-6.atk-form-field.atk-form-row
							{$address}
							{$form_buttons}
							{$Content}