.container(id="{$_name}" class="{$class}" style="{$style}")
		.well
			h4 For Individuals(radio)
			.row
				.col-md-6.atk-form-field.atk-form-row
					label First Name:
				.col-md-6.atk-form-field.atk-form-row
					label Last Name:
			.row
				.col-md-6.atk-form-field.atk-form-row
					{$first_name}
				.col-md-6.atk-form-field.atk-form-row
					{$last_name}
			.row
				.col-md-6.atk-form-field.atk-form-row
					label Date Of Birth:
				.col-md-6.atk-form-field.atk-form-row
					label Nationality:
			.row
				.col-md-6.atk-form-field.atk-form-row
					{$dob}
				.col-md-6.atk-form-field.atk-form-row
					{$country_id}
			//- .row
			//- 	.col-md-12.atk-form-field.atk-form-row
			//- 		label Address:
			//- .row
			//- 	.col-md-12.atk-form-field.atk-form-row
			//- 		{$address}

		.well
			h4 For Non-Individuals(radio)
			.row
				.col-md-12.atk-form-field.atk-form-row
					label Name Of Organization:
			.row
				.col-md-12.atk-form-field.atk-form-row
					{$organization}
			.row
				.col-md-6.atk-form-field.atk-form-row
					label Status Of Organisation:
				.col-md-6.atk-form-field.atk-form-row
					label PAN Number:
			.row
				.col-md-6.atk-form-field.atk-form-row
					{$status_of_organization}
				.col-md-6.atk-form-field.atk-form-row
					{$pan_number}
			//- h4 Customer Contact Details
			.row
				//- .col-md-6.atk-form-field.atk-form-row
				//- 	.row
				//- 		.col-md-12.atk-form-field.atk-form-row
				//- 			label General:
				//- 	.row
				//- 		.col-md-12.atk-form-field.atk-form-row
				//- 			{$general_contact}{$general_email}
				//- 	.row
				//- 		.col-md-12.atk-form-field.atk-form-row
				//- 			label Technical:
				//- 	.row
				//- 		.col-md-12.atk-form-field.atk-form-row
				//- 			{$technical_contact}{$technical_email}
				//- 	.row
				//- 		.col-md-12.atk-form-field.atk-form-row
				//- 			label Finance:
				//- 	.row
				//- 		.col-md-12.atk-form-field.atk-form-row
				//- 			{$finance_contact}{$finance_email}
				.col-md-12.atk-form-field.atk-form-row
					.row
						.col-md-12.atk-form-field.atk-form-row
							label Customer Category:
							{$customer_cat}
			
			.row
				.col-md-6.atk-form-field.atk-form-row
					h5 Service Installation Address
					.col-md-12.atk-form-field.atk-form-row
						label Address:
					.col-md-12.atk-form-field.atk-form-row
						{$address}
					.col-md-12.atk-form-field.atk-form-row
						label State:
					.col-md-12.atk-form-field.atk-form-row
						{$state_id}
					.col-md-12.atk-form-field.atk-form-row
						label City:
					.col-md-12.atk-form-field.atk-form-row
						{$city}
					.col-md-12.atk-form-field.atk-form-row
						label Pin Code:
					.col-md-12.atk-form-field.atk-form-row
						{$pin_code}
				.col-md-6.atk-form-field.atk-form-row
					h5 Billing Address
					.col-md-12.atk-form-field.atk-form-row
						.col-md-12.atk-form-field.atk-form-row
							label Address:
						.col-md-12.atk-form-field.atk-form-row
							{$billing_address}
						.col-md-12.atk-form-field.atk-form-row
							label State:
						.col-md-12.atk-form-field.atk-form-row
							{$state_id}
						.col-md-12.atk-form-field.atk-form-row
							label City:
						.col-md-12.atk-form-field.atk-form-row
							{$billing_city}
						.col-md-12.atk-form-field.atk-form-row
							label Pin Code:
						.col-md-12.atk-form-field.atk-form-row
							{$billing_pincode}
							br
						.col-md-12.atk-form-field.atk-form-row
							.atk-cell.atk-form-label.atk-text-nowrap
							.atk-form-row.atk-form-field.xepan-checkout-same-as-billing-address
								.btn.btn-warning.btn-xs  Same as Billing Address	
								
			//- br				
			//- .row
			//- 	.col-md-6.atk-form-field.atk-form-row
			//- 		label Number of connections(no. box):
			//- 	.col-md-6.atk-form-field.atk-form-row
			//- 		label Rate Plan Code:
			//- .row
			//- 	.col-md-6.atk-form-field.atk-form-row
			//- 		{$no_of_connection}
			//- 	.col-md-6.atk-form-field.atk-form-row
			//- 		{$rate_plan_code}
			//- .row
			//- 	.col-md-6.atk-form-field.atk-form-row
			//- 		label Internet Port Speed:
			//- .row
			//- 	.col-md-6.atk-form-field.atk-form-row
			//- 		{$internet_speed}
			//- 	.col-md-3.atk-form-field.atk-form-row
			//- 		{$bytes}
			//- .row
			//- 	h5 Types of Access:
			//- 	.col-md-12.atk-form-field.atk-form-row
			//- 		.row
			//- 			.col-md-6.atk-form-field.atk-form-row
			//- 				{$type_of_access}
			//- .row
			//- 	h5 Lastmile Details:
			//- 	.col-md-12.atk-form-field.atk-form-row
			//- 		.row
			//- 			.col-md-6.atk-form-field.atk-form-row
			//- 				{$lastmile_detail}				
			//- .row
			//- 	h5 Details of CPE:
			//- 	.col-md-12.atk-form-field.atk-form-row
			//- 		.row
			//- 			.col-md-6.atk-form-field.atk-form-row
			//- 				label Make:
			//- 			.col-md-6.atk-form-field.atk-form-row
			//- 				label Mode:
			//- 		.row
			//- 			.col-md-6.atk-form-field.atk-form-row
			//- 				{$make}
			//- 			.col-md-6.atk-form-field.atk-form-row
			//- 				{$mode}
			//- .row
			//- 	h5 Any retunable equipment at end of service :
			//- 	.col-md-12.atk-form-field.atk-form-row
			//- 		.row
			//- 			.col-md-6.atk-form-field.atk-form-row
			//- 				label Serial:
			//- 		.row
			//- 			.col-md-6.atk-form-field.atk-form-row
			//- 				{$serial}
			.row
				h5 Static IP Required:
				.col-md-12.atk-form-field.atk-form-row
					.row
						.col-md-6.atk-form-field.atk-form-row
							{$static_ip}
			//- .row
			//- 	h5 Payment Details
			//- 	.col-md-12.atk-form-field.atk-form-row
			//- 		.row
			//- 			.col-md-6.atk-form-field.atk-form-row
			//- 				label Serial No:
			//- 			.col-md-6.atk-form-field.atk-form-row
			//- 				label Instrument Type:
			//- 		.row
			//- 			.col-md-6.atk-form-field.atk-form-row
			//- 				{$}
			//- 			.col-md-6.atk-form-field.atk-form-row
			//- 				{$}
			//- 		.row
			//- 			.col-md-6.atk-form-field.atk-form-row
			//- 				label Cheque/DD No:
			//- 			.col-md-6.atk-form-field.atk-form-row
			//- 				label Bank Name:
			//- 		.row
			//- 			.col-md-6.atk-form-field.atk-form-row
			//- 				{$}
			//- 			.col-md-6.atk-form-field.atk-form-row
			//- 				{$}
			//- 		.row
			//- 			.col-md-6.atk-form-field.atk-form-row
			//- 				label Branch:
			//- 			.col-md-6.atk-form-field.atk-form-row
			//- 				label City:
			//- 		.row
			//- 			.col-md-6.atk-form-field.atk-form-row
			//- 				{$}
			//- 			.col-md-6.atk-form-field.atk-form-row
			//- 				{$}
			//- 		.row
			//- 			.col-md-6.atk-form-field.atk-form-row
			//- 				label Amount:
			//- 			.col-md-6.atk-form-field.atk-form-row
			//- 				label Date:
			//- 		.row
			//- 			.col-md-6.atk-form-field.atk-form-row
			//- 				{$}
			//- 			.col-md-6.atk-form-field.atk-form-row
			//- 				{$}
		div.well
			h4 User Plans
			.row
				.col-md-6.atk-form-field.atk-form-row
					label User Name:
				.col-md-6.atk-form-field.atk-form-row
					label Password:
			.row
				.col-md-6.atk-form-field.atk-form-row
					{$radius_username}
				.col-md-6.atk-form-field.atk-form-row
					{$radius_password}
			.row
				.col-md-6.atk-form-field.atk-form-row
					label Plan:
				.col-md-6.atk-form-field.atk-form-row
					label Simultaneous Use:
			.row
				.col-md-6.atk-form-field.atk-form-row
					{$plan}{$plan_id}
				.col-md-6.atk-form-field.atk-form-row
					{$simultaneous_use}
			.row
				.col-md-6.atk-form-field.atk-form-row
					label Grace period in days:
				.col-md-6.atk-form-field.atk-form-row
					label Mac Address:
			.row
				.col-md-6.atk-form-field.atk-form-row
					{$grace_period_in_days}
				.col-md-6.atk-form-field.atk-form-row
					{$mac_address}
			.row
				.col-md-12.atk-form-field.atk-form-row
					label Custom RADIUS Attributes: 
			.row
				.col-md-6.atk-form-field.atk-form-row
					{$custom_radius_attributes}
			//- .row
			//- 	.col-md-12.atk-form-field.atk-form-row
			//- 		label Create Invoice 		
			.row
				.col-md-6.atk-form-field.atk-form-row
					{$create_invoice}
			.row
				.col-md-6.atk-form-field.atk-form-row
					label Document Attachment
			.row
				.col-md-6.atk-form-field.atk-form-row
					{$attachment}		
			br		
			{$FormButtons}
		//- div.well
		//- 	label.h4 Office Use Only 
		//- 	.container(id="{$_name}")
		//- 		.row
		//- 			.col-md-6.atk-form-field.atk-form-row
		//- 				label Customer Contact/PO No:
		//- 			.col-md-6.atk-form-field.atk-form-row
		//- 				label Date:
		//- 		.row
		//- 			.col-md-6.atk-form-field.atk-form-row
		//- 				{$}
		//- 			.col-md-6.atk-form-field.atk-form-row
		//- 				{$}
		//- 		.row
		//- 			.col-md-6.atk-form-field.atk-form-row
		//- 				label Proposal/Quotation No:
		//- 			.col-md-6.atk-form-field.atk-form-row
		//- 				label Date:
		//- 		.row
		//- 			.col-md-6.atk-form-field.atk-form-row
		//- 				{$}
		//- 			.col-md-6.atk-form-field.atk-form-row
		//- 				{$}
		//- 		.row
		//- 			.col-md-12.atk-form-field.atk-form-row
		//- 				label Name of Business Development Manager/Business Development Executive:
		//- 		.row
		//- 			.col-md-12.atk-form-field.atk-form-row
		//- 				{$}
		//- 		.row
		//- 			.col-md-6.atk-form-field.atk-form-row
		//- 				label Name of Reseller/Channel/DSA:
		//- 			.col-md-6.atk-form-field.atk-form-row
		//- 				label City: 
		//- 		.row
		//- 			.col-md-6.atk-form-field.atk-form-row
		//- 				{$}
		//- 			.col-md-6.atk-form-field.atk-form-row
		//- 				{$}
		//- 		.row
		//- 			.col-md-12.atk-form-field.atk-form-row
		//- 				label Name of Business Development Manager/Business Development Executive/Reseller/Channel/DSA:
		//- 		.row
		//- 			.col-md-12.atk-form-field.atk-form-row
		//- 				{$}
		{$Content}
style.
	.atk-form-options div {
		float: left;
		width: 20%;
	}	
	.atk-form-options div label{
		padding:5px;
	}
	.ispmanager-radio_btn {
		float: left;
		width: 10%!important;
	}	