
<div id="{$_name}" style="{$style}" class="container {$class}">
  <div class="well">
    <h4>For Individuals</h4>
    <div class="row">
      <div class="col-md-6 atk-form-field atk-form-row">
        <label>First Name:</label>
      </div>
      <div class="col-md-6 atk-form-field atk-form-row">
        <label>Last Name:</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 atk-form-field atk-form-row">{$first_name}</div>
      <div class="col-md-6 atk-form-field atk-form-row">{$last_name}</div>
    </div>
    <div class="row">
      <div class="col-md-6 atk-form-field atk-form-row">
        <label>Date Of Birth:</label>
      </div>
      <div class="col-md-6 atk-form-field atk-form-row">
        <label>Nationality:</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 atk-form-field atk-form-row">{$dob}</div>
      <div class="col-md-6 atk-form-field atk-form-row">{$country_id}</div>
    </div>
  </div>
  <div class="well">
    <h4>For Non-Individuals</h4>
    <div class="row">
      <div class="col-md-4 atk-form-field atk-form-row">
        <label>Name Of Organization:</label>{$organization}
      </div>
      <div class="col-md-4 atk-form-field atk-form-row">
        <label>PAN Number:</label>{$pan_number}
      </div>
      <div class="col-md-4 atk-form-field atk-form-row">
        <label>Status Of Organisation:</label>{$status_of_organization}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 atk-form-field atk-form-row">
        <div class="row">
          <div class="col-md-12 atk-form-field atk-form-row">
            <label>Customer Category:</label>{$customer_cat}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 atk-form-field atk-form-row">
        <h5>Service Installation Address</h5>
        <div class="col-md-12 atk-form-field atk-form-row">
          <label>Address:</label>
        </div>
        <div class="col-md-12 atk-form-field atk-form-row">{$address}</div>
        <div class="col-md-12 atk-form-field atk-form-row">
          <label>State:</label>
        </div>
        <div class="col-md-12 atk-form-field atk-form-row">{$state_id}</div>
        <div class="col-md-12 atk-form-field atk-form-row">
          <label>City:</label>
        </div>
        <div class="col-md-12 atk-form-field atk-form-row">{$city}</div>
        <div class="col-md-12 atk-form-field atk-form-row">
          <label>Pin Code:</label>
        </div>
        <div class="col-md-12 atk-form-field atk-form-row">{$pin_code}</div>
      </div>
      <div class="col-md-6 atk-form-field atk-form-row">
        <h5>Billing Address</h5>
        <div class="col-md-12 atk-form-field atk-form-row">
          <div class="col-md-12 atk-form-field atk-form-row">
            <label>Address:</label>
          </div>
          <div class="col-md-12 atk-form-field atk-form-row">{$billing_address}</div>
          <div class="col-md-12 atk-form-field atk-form-row">
            <label>State:</label>
          </div>
          <div class="col-md-12 atk-form-field atk-form-row">{$state_id}</div>
          <div class="col-md-12 atk-form-field atk-form-row">
            <label>City:</label>
          </div>
          <div class="col-md-12 atk-form-field atk-form-row">{$billing_city}</div>
          <div class="col-md-12 atk-form-field atk-form-row">
            <label>Pin Code:</label>
          </div>
          <div class="col-md-12 atk-form-field atk-form-row">{$billing_pincode}<br/></div>
        </div>
      </div>
    </div>
    <div class="row">
      <h5>Static IP Required:</h5>
      <div class="col-md-12 atk-form-field atk-form-row">
        <div class="row">
          <div class="col-md-6 atk-form-field atk-form-row">{$static_ip}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="well">
    <h4>User Plans</h4>
    <div class="row">
      <div class="col-md-6 atk-form-field atk-form-row">
        <label>User Name:</label>
      </div>
      <div class="col-md-6 atk-form-field atk-form-row">
        <label>Password:</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 atk-form-field atk-form-row">{$radius_username}</div>
      <div class="col-md-6 atk-form-field atk-form-row">{$radius_password}</div>
    </div>
    <div class="row">
      <div class="col-md-6 atk-form-field atk-form-row">
        <label>Plan:</label>
      </div>
      <div class="col-md-6 atk-form-field atk-form-row">
        <label>Simultaneous Use:</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 atk-form-field atk-form-row">{$plan}{$plan_id}</div>
      <div class="col-md-6 atk-form-field atk-form-row">{$simultaneous_use}</div>
    </div>
    <div class="row">
      <div class="col-md-6 atk-form-field atk-form-row">
        <label>Grace period in days:</label>
      </div>
      <div class="col-md-6 atk-form-field atk-form-row">
        <label>Mac Address:</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 atk-form-field atk-form-row">{$grace_period_in_days}</div>
      <div class="col-md-6 atk-form-field atk-form-row">{$mac_address}</div>
    </div>
    <div class="row">
      <div class="col-md-12 atk-form-field atk-form-row">
        <label>Custom RADIUS Attributes: </label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 atk-form-field atk-form-row">{$custom_radius_attributes}</div>
    </div>
    <div class="row">
      <div class="col-md-6 atk-form-field atk-form-row">{$create_invoice}</div>
    </div>
    <div class="row">
      <div class="col-md-6 atk-form-field atk-form-row">
        <label>Document Attachment</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 atk-form-field atk-form-row">{$attachment}		</div>
    </div><br/>{$FormButtons}
  </div>{$Content}
</div>
<style>
  .atk-form-options div {
  	float: left;
  	width: 20%;
  }	
  .atk-form-options div label{
  	padding:5px;
  }
  .ispmanager-radio_btn {
  	float: left;
  	width: 10%!important;
  }	
</style>