.xepan-tool-options(id='{$_name}' style="display:none" for-xepan-component='xavoc/ispmanager/Tool_Register')
	.xepan-cms-group-panel.clearfix
		h3.collapsed(data-toggle='collapse', data-target='#collapse-carousel', aria-expanded='false')
			span Registration Panel
		#collapse-carousel.xepan-cms-tools-bar-panel.row-fluid.collapse.in
			.panel-body
				table.table.table-condensed.table-hover
					tr
						td 
							| Redirect Page

						td
							input(type='text', name='details-url', data-attr='redirect_page')
							

script(type='text/javascript').
	$('\\#{$_name} [data-attr]').on('change',function(){
		$(current_selected_component).attr($(this).data('attr'),$(this).val());
	});
	$('\\#{$_name}').on('show',function(event){
		$('\\#{$_name} [data-attr]').each(function(index,value){
			$(this).val($(current_selected_component).attr($(this).data('attr')));
		});
	});