
<div id="{$_name}" style="display:none" for-xepan-component="xepan/ispmanager/Tool_PurchasePlan" class="xepan-tool-options">
  <div class="xepan-cms-group-panel clearfix">
    <h3 data-toggle="collapse" data-target="#collapse-plan-item-list" aria-expanded="false" class="collapsed"><span>ISP Plan</span></h3>
    <div id="collapse-plan-item-list" class="xepan-cms-tools-bar-panel row-fluid collapse in">
      <div class="panel-body">
        <table class="table table-condensed table-hover">
          <tr>
            <div class="xepan-tool-option">
              <td class="xepan-tool-option-title">Show Buy Now Button</td>
              <td class="xepan-tool-option-value"> 
                <select id="show_buynowbtn" data-attr="show_buy_now_btn" data-defaultvalue="true">
                  <option value="true">True</option>
                  <option value="false">False</option>
                </select>
              </td>
            </div>
            <tr style="display:none;" class="xepan-commerce-itemlist-option-toggle">
              <div class="xepan-tool-option">
                <td class="xepan-tool-option-title">Buy Now Button Name</td>
                <td class="xepan-tool-option-value"> 
                  <input id="buy_now_button_name" data-attr="buy_now_button_name" value="buynow" data-defaultvalue="buynow"/>
                </td>
              </div>
            </tr>
            <tr>
              <div class="xepan-tool-option">
                <td class="xepan-tool-option-title">Checkout Page Url</td>
                <td class="xepan-tool-option-value"> 
                  <input id="checkout_page_url" data-attr="checkout_page_url_page_url"/>
                </td>
              </div>
            </tr>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<script>
  $('#{$_name} [data-attr]').on('change',function(){
  	$(current_selected_component).attr($(this).data('attr'),$(this).val());
  	// show or hide the toggle class
  	if($(this).data('toggleclass')){
  		var value = $(this).data('togglevalue').toString();
  		if($(this).val() === value){
  			$($(this).data('toggleclass')).show();
  		}else
  			$($(this).data('toggleclass')).hide();
  	}
  
  });
  
  $('#{$_name}').on('show',function(event){
  	$('#{$_name} [data-attr]').each(function(index,value){
  		// setting up default value if no option selected
  		var default_value = $(this).attr('data-defaultvalue');
  		if($(current_selected_component).attr($(this).data('attr')))
  			default_value = $(current_selected_component).attr($(this).data('attr'));
  		
  		$(this).val(default_value);
  	});
  	
  });	
</script>